*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#choice{
    width:100vw ;
    height:20vh ;
    display: flex;
    justify-content: space-evenly;
}

.choice-size{
    width: 30%;
    height: 100%;
    background-color: aliceblue;
    font-size: 2rem;
    font-family:cursive;
}

h1{
    font-size: 3rem;
}

body{
        font-family: cursive;
}

#name{
    display: flex;
    gap: 3px;
    font-size: 2rem;
    flex-direction: row;
}

#Age{
    display: flex;
    font-size: 2rem;
}

#all{
    flex-direction: column;
}

