*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.nav-text{
    border: black solid .5px;
    padding: 2vw;
}
h1{
    text-align: center;
}
.service{
    display: flex;
    flex-direction: column;
}
.party-img{
    display: flex;
    flex-direction: row;
    width: 20%;
}
.desc-text{
    align-items: flex-start;
    justify-content: center;
}
footer{
    display: flex;
    flex-direction: column;
}

div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
}